@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: #0F1115;
    color: #EDF2F7;
    font-family: 'JetBrains Mono', 'Plus Jakarta Sans', monospace;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Professional Polish custom engineering scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0F1115;
}
::-webkit-scrollbar-thumb {
  background: #282E39;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3182CE;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

